.Home{
  height: 100vh;

  background-image: url("./bg.jpg");
  background-size: cover;
  background-clip: content-box;

  .headerIcon{
    height: calc(~"100vh - 130px");

    .header{
      font-size: 48px;
      text-align: center;
      color: rgba(255,255,255,0.95);
      line-height: 200px;
      margin-bottom: 48px;
    }

    .textField{
      width: calc(~"100% - 32px") !important;
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .loginButton{
    width: 100vw;
    height: 50px;
    background-color: #00B7FF !important;
    color: #ffffff!important;
  }

  .signUp{
    margin-top: 32px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
}