.animated-child {
  position: absolute;
}


.Shop{
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  &.child {
    .overview {
      opacity: 0.5;
      transform: perspective(500px) translate3d(0px, 0px, -50px);
    }
  }


  .overview{
    background-color: white;
    transition:opacity 0.2s linear, transform 0.2s;
    will-change: opacity, transform;
    transform: translate3d(0px,0px,0px);
    opacity: 1;
  }

  &.fixedheight {
    .overview {
      opacity: 0.5;
      transform: perspective(500px) translate3d(0px, 0px, -50px);
    }
  }

  &.modal{
    .overview{
      opacity: 0.5;
      transform: perspective(500px) translate3d(0px,0px,-50px);
    }
  }


  .itemList{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: ~"calc(100vh - 64px)";
    margin-top: 64px;
  }

  .floatingActionButton{
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  .chaptersContainer{
    overflow: scroll;
    height: ~"calc(100vh - 64px)";
  }

}