.Shop{
  background-color: black;

  .overview{
    background-color: white;
    transition:all 0.2s;
    will-change: opacity, transform;
  }

  &.fixedheight{
    .overview{
      opacity: 0.8;
      transform: scale3d(0.8,0.8,1);
    }

  }

  .itemList{
    overflow: scroll;
    height: ~"calc(100vh - 64px)";
    padding-top: 64px;
  }

  .floatingActionButton{
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  .chaptersContainer{
    overflow: scroll;
    height: ~"calc(100vh - 64px)";
  }

  .filterModal{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:100vh;

    will-change: top;
    transition: top 0.4s;

    &.active{
      top:0vh;
    }
  }
}